<!DOCTYPE html>
<html lang="ja">
<head th:replace="head :: common_header">
    <meta charset="UTF-8">
    <title>Error Page</title>
</head>
<body class="container">
<h1>Error</h1>
<h5>message</h5>
<div data-th-if="${message} != null">
    <div th:text="${message}"></div>
</div>
<h5>request_uri</h5>
<div data-th-if="${request_uri} != null">
    <div th:text="${request_uri}"></div>
</div>
<h5>servlet_name</h5>
<div data-th-if="${servlet_name} != null">
    <div th:text="${servlet_name}"></div>
</div>
<h5>status_code</h5>
<div data-th-if="${status_code} != null">
    <div th:text="${status_code}"></div>
</div>
<!--<div data-th-if="${error.message} != null">-->
<!--    <div th:text="${error.message}"></div>-->
<!--</div>-->
<!--<br/>-->
<!--<div data-th-if="${error.localizedMessage} != null">-->
<!--    <div th:text="${error.localizedMessage}"></div>-->
<!--</div>-->
<br/>
</body>
</html>
