<!DOCTYPE html>
<html lang="ja"
      xmlns:layout="https://raw.githubusercontent.com/ultraq/thymeleaf-layout-dialect/main/thymeleaf-layout-dialect/source/nz/net/ultraq/thymeleaf/layoutdialect/LayoutDialect.xml"
      layout:decorate="~{layout}"
>
<head th:replace="head :: common_header">
    <meta charset="UTF-8">
    <title>Top Page</title>
</head>
<script data-th-src="@{/js/top.js}"></script>
<script>
    window.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("inline").innerText = new Date().toString()
    });
</script>
<th:block layout:fragment="content">
    <h1>Top</h1>
    <div data-th-text="${toDay}"></div>
    <h2>Form Post Test</h2>
    <form data-th-object="${topPageForm}" data-th-action="@{/top/sendMessage}" method="post">
        <label for="message">Message</label>
        <input id="message" type="text" data-th-field="*{message}"/>
        <input type="submit" value="Send">
    </form>
    <h2>CSP Test Field</h2>
    <div>
        <label>Inline Target</label>
        <div id="inline"></div>
        <label>JS File Target</label>
        <div id="js"></div>
    </div>
</th:block>
</html>
